#=========================================================================================
#   Unity Project .gitignore
#	
#	Copyright 2018 Erick Fernandez de Arteaga. All rights reserved.
#       https://www.linkedin.com/in/erick-fda
#       https://github.com/erick-fda
#       https://bitbucket.org/erick-fda
#	
#=========================================================================================

#=========================================================================================
#   OS Files
#=========================================================================================
._*
*.DS_Store*
.Spotlight-V100
*.Trashes

[Dd]esktop.ini
[Ee]hthumbs.db
[Tt]humbs.db

#=========================================================================================
#   Unity Files
#=========================================================================================
Assets/AssetStoreTools*
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/

*.apk
*.pdb.meta
*.pidb.meta
*.stackdump
sysinfo.txt
*.unitypackage
 
#=========================================================================================
#   Editor Files
#=========================================================================================
.consulo/
[Ee]xported[Oo]bj/
.idea*/
.vs/
.vscode/

*.booproj
*.csproj
*.opendb
*.pdb
*.pidb
*.sln*
*.suo
*.svd
*.tmp
*.unityproj
*.user
*.userprefs
